<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaodz.mybatis_generator_demo.dao.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, describes, price, num, country_code, province_code, district_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods (id, name, describes, 
      price, num, country_code, 
      province_code, district_code)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{countryCode,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="districtCode != null">
        district_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        #{districtCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      country_code = #{countryCode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, describes, price, num, country_code, province_code, district_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods (id, name, describes, 
      price, num, country_code, 
      province_code, district_code)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{countryCode,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="districtCode != null">
        district_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        #{districtCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      country_code = #{countryCode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, describes, price, num, country_code, province_code, district_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods (id, name, describes, 
      price, num, country_code, 
      province_code, district_code)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{countryCode,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="districtCode != null">
        district_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        #{districtCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      country_code = #{countryCode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, describes, price, num, country_code, province_code, district_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods (id, name, describes, 
      price, num, country_code, 
      province_code, district_code)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{countryCode,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="districtCode != null">
        district_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        #{districtCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="districtCode != null">
        district_code = #{districtCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      country_code = #{countryCode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods (id, name, describes, 
      price, num, country_code, 
      province_code, district_code)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{countryCode,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      country_code = #{countryCode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, describes, price, num, country_code, province_code, district_code
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, describes, price, num, country_code, province_code, district_code
    from goods
  </select>
  <resultMap id="BaseResultMap" type="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    insert into goods (id, name, describes, 
      price, num, country_code, 
      province_code, district_code)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{num,jdbcType=INTEGER}, #{countryCode,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{districtCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xiaodz.mybatis_generator_demo.model.GoodsInfo">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      country_code = #{countryCode,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      district_code = #{districtCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, describes, price, num, country_code, province_code, district_code
    from goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, describes, price, num, country_code, province_code, district_code
    from goods
  </select>
</mapper>